<style>
    @media (min-width: 1000px) and (max-width: 1368px) {
        /* Modal Login */
        .modal.show .modal-dialog {
            max-width: 900px;
        }
    }

    @media (min-width: 1369px) and (max-width: 1920px) {
        /* Modal Login */
        .modal.show .modal-dialog {
            max-width: 1200px;
        }
    }

    @media (min-width: 1921px) and (max-width: 2560px) {
        /* Modal Login */
        .modal.show .modal-dialog {
            max-width: 1500px;
        }
    }
</style>
<!-- Modal Terminos & Condiciones -->
<div class="modal fade" id="modal-acuerdo-confidencial" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="padding:0 30px">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight: bold;" id="termsLabel">ACUERDO DE NO DIVULGACIÓN DEL CONSULTOR</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body">

                {{!-- CUERPO DEL CONTENIDO --}}
                
                <div class="text-justify mb-5">
                    <p>Entre <strong>3C SIGMA CORP</strong> ("el Consultor/empresa Consultora"), compañía constituida y que opera de acuerdo con las leyes de la Florida y Su Empresa ("la compañía"), compañía constituida y que opera de acuerdo con las leyes de su Estado o País, acuerdan:</p>

                    <p><strong>EN TANTO QUE</strong> el Consultor ha estado o estará vinculado al desempeño del trabajo en el Sistema de la Compañía (“Sistema”); y en conexión con esto se le otorgará acceso a cierta información confidencial y privilegiada; y</p>

                    <p><strong>EN TANTO QUE</strong> el Consultor y la Compañía desean demostrar por medio de este acuerdo la manera en que se tratará dicho material confidencial y privilegiado.</p>

                    <p><strong>POR LO TANTO</strong>, las partes acuerdan lo siguiente:</p>

                    <p><strong>1. INFORMACIÓN PRIVILEGIADA</strong><br>
                    El Consultor reconoce que el sistema de la empresa, y toda la documentación del Sistema relacionada con ello ("Información privilegiada”) son confidenciales y de propiedad de la Compañía; y el Consultor acuerda utilizarla con sumo cuidado (con el mismo cuidado que el Consultor emplearía para proteger su propia información) para salvaguardar la información privilegiada y para evitar el uso no autorizado o la divulgación de esta.</p>

                    <p><strong>2. NO DIVULGACIÓN</strong><br>
                    El Consultor divulgará u otorgará el acceso a la información privilegiada solamente a sus empleados, agentes o contratistas (“Personal del consultor”) que tengan la necesidad de saber con relación al compromiso del Consultor y para su uso en conexión con ello. El Consultor asesorará al Personal del consultor que tenga acceso a la información privilegiada sobre la naturaleza confidencial y privilegiada de la misma.</p>
                    
                    <p><strong>3. COPIAS</strong><br>
                    Cualquier copia o reproducción de la información privilegiada incluirá una notificación de propiedad intelectual y de registro del original.</p>
                    
                    <p><strong>4. FINALIZACIÓN</strong><br>
                    El Consultor mantendrá, luego del cumplimiento de las tareas asignadas, y a la finalización del compromiso del Consultor con respecto al Sistema o a solicitud, lo que se produzca primero, toda información privilegiada (incluso cualquier copia o reproducción de esta que se encuentre en su poder o bajo su control.</p>

                    <p><strong>5. USO NO AUTORIZADO</strong><br>
                    El Consultor informará inmediatamente por escrito a la Compañía si toma conocimiento de que personal actual o retirado del Consultor utiliza sin autorización o divulga información privilegiada.</p>

                    <p><strong>6. PRODUCTO DE TRABAJO</strong><br>
                    El Consultor no tendrá ningún interés de propiedad en el producto de trabajo desarrollado por el Consultor en el transcurso de su compromiso y cederá expresamente todos los derechos de autor, patentes, secretos comerciales y demás derechos de propiedad a la Compañía.</p>

                    <p><strong>7. INDEMNIZACIÓN</strong><br>
                    El Consultor, por su cuenta, defenderá, indemnizará y eximirá de responsabilidad a la Compañía, sus licenciatarios, empleados y agentes, de cualquier reclamo, demanda, derecho de acción, deuda o responsabilidad (incluso los honorarios de los abogados) en la medida en que se base en un reclamo que el personal del Consultor, en el transcurso de su compromiso con el Sistema, infringió o violó la patente, los derechos de autor, la licencia u otro derecho de propiedad de un tercero, siempre que el Consultor sea notificado inmediatamente de tal reclamo y siempre que ese reclamo no se base en la información privilegiada. La Compañía puede, por su cuenta, asistirlo en dicha defensa si lo desea. El Consultor tendrá derecho a controlar la defensa en cualquiera de las acciones mencionadas y a actuar en la estipulación de la suspensión y el acuerdo de dicho reclamo a su discreción. Además, en el caso de que cualquiera de las actuaciones del Consultor se lleve a cabo para constituir un incumplimiento y su uso sea o pueda ser impuesto, el Consultor, según su posibilidad, modificará por su cuenta (1) el código del programa de incumplimiento para que no evitar su incumplimiento; u (2) obtendrá para la Compañía el derecho de uso y la autorización del uso del código del programa de incumplimiento.</p>

                    <p><strong>8. DESAGRAVIO POR MANDATO JUDICIAL</strong><br>
                    El Consultor reconoce que el uso o divulgación de la información privilegiada de una manera contraria a este acuerdo causará daños irreparables a la Compañía y que la Compañía tendrá el derecho a desagravio por mandato judicial o conforme al sistema de equidad para evitar el uso o la divulgación no autorizados y por los daños ocasionados por ese uso o divulgación no autorizados.</p>

                    <p><strong>9. CUMPLIMIENTO CON LA LEY</strong><br>
                    El Consultor acuerda cumplir con todas las leyes federales, estatales y locales, ordenanzas y reglamentaciones.</p>

                    <p><strong>EN FE DE LO CUAL</strong>, las partes han ejecutado este acuerdo en la fecha que se acepte este acuerdo.</p>
                </div>

                {{!-- FIN DEL CONTENIDO DEL ACUERDO --}}

                <div class="row d-flex align-items-center">
                    <div class="col-12 text-center fw-bold mx-auto mb-4">
                        <input onclick="acuerdoChecked()" id="acuerdo-check" name="acuerdo-check" type="checkbox" required>
                        <label class="text-black font-weight-bold"> He leído y acepto los términos del acuerdo de confidencialidad</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                {{!-- <button type="button" class="btn btn-md btn-info" style="background: linear-gradient(180deg, #FED061 -149.33%, #812082 -19.27%, #50368C 158.67%); color:#fff !important;border: none;" data-dismiss="modal">Cerrar</button> --}}
                <button type="button" class="btn btn-md color_gradient text-white" style="border: none;" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->