<style>
    #error404{
        width: 526px;
    }
    @media (min-width: 360px) and (max-width:480px){
    .container{
        margin-top: 23%;
        }
    #error404{
        width: 104% !important;
    }
    } 
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto mt-5">
            <table class="table mx-auto d-block">
                <th colspan="3" style="border:none ;">
                    <h3 class="text-center">
                        <img src="./img/errores/logo.svg" style="margin-top: -22px; margin-bottom: 50px;width: 112px;" alt="logo1">

                    </h3>
                    <h3 class="text-center">
                        <img src="./img/errores/404.png" id="error404" alt="404"> 
                    </h3>
                </th>
                <tr>
                    <td>
                        <h5 id="enunciado" style="color:black; margin-top: -18px;">La página a la que intentas acceder no existe o no tienes acceso, por favor revisa la dirección URL</h5>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center ;">
                    <a href="{{dominio}}">
                            <button type="submit" style="border:none;color:white;" class="login-ingresar color_primary text-white">Regresar al inicio</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>