<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Negocio - 3CSigma</title>

{{!-- FAVICON --}}
{{!-- <link rel="icon" type="image/x-icon" href="https://3csigma.com/app_public_files/img/logo_small_3csigma.png"> --}}
<link rel="icon" type="image/x-icon" href="/img/logo_small.png">
<!--  FONTS -->
<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/oblivian-text">
<!--  BOOTSTRAP 5 -->
<link rel="stylesheet" href="https://3csigma.com/app_public_files/css/bootstrap.min.css">
<!--  FONT AWESOME 6.1.1 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> --}}
<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
{{!-- FONT AWESOME ICONS --}}
{{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
    integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous"> --}}
    
{{!-- ESTILOS PARA SWEET ALERT --}}
<link rel="stylesheet" href="https://3csigma.com/app_public_files/css/sweetalert2.min.css">

<!-- CSS LOGIN -->
<link href="https://3csigma.com/app_public_files/css/iofrm-style.css" rel="stylesheet">
<link href="https://3csigma.com/app_public_files/css/iofrm-theme3.css" rel="stylesheet">

<!-- YOUR CUSTOM CSS -->
<link rel="stylesheet" href="../css/estilosPersonales.css">
<link href="../css/custom.css" rel="stylesheet">

<!-- CSS DE CALENDARIO DE LAS FECHAS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/themes/default.css" />

{{!-- SELECTOR CON BUSCADOR --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">

<!-- STYLE FORM WIZARD CSS -->
{{#if wizarx}}
<link href="../css/styles.css" rel="stylesheet">
{{/if}}

<link rel="stylesheet" href="../vendor/css/toastr.min.css">

<link href="../vendor/css/chartist.min.css" rel="stylesheet">
<link href="../vendor/css/bootstrap-select.min.css" rel="stylesheet">
<link href="../vendor/css/style.css" rel="stylesheet">
<link href="../vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">