{{#if success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if message}}
<div class="alert alert-warning alert-dismissible alert-alt fade show">
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Atención!</strong> {{message}}
</div>
{{/if}}

{{#if registro}}
<div class="alert alert-warning alert-dismissible alert-alt fade show" style="background-color: #efffe3;
    border-color: #bfe9b5; color: #82ad67;">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{registro}}
</div>
{{/if}}