<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <iframe src='https://app.mural.co/embed/0511eb89-9d7f-488d-8977-79082e25e637' width='100%'
                    height='480px'
                    style='min-width: 640px; min-height: 480px; background-color: #f4f4f4; border: 1px solid #efefef'
                    sandbox='allow-same-origin allow-scripts allow-modals allow-popups allow-popups-to-escape-sandbox'>
                </iframe>
            </div>

        </div>

    </div>
</div>