.section_title{
    margin-bottom: 1.5em !important;
}
.add_top_10{
    max-height: 60vh !important; padding-right: 3em !important;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    border-radius: 30px;
    background-color: #ccc;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    top: 10.5px;
    left: 22px;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: #000;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.input-group-prepend {
    height: 45px;
}
.fl-wrap.fl-wrap-input {
    width: 100%;
}
label {
    text-align: justify !important;
}