@import url("https://fonts.cdnfonts.com/css/oblivian-text");

body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oblivian Text' !important;
    font-weight: 300;
}

/* Barra scroll personalizada */
body::-webkit-scrollbar {
    -webkit-appearance: none !important;
    appearance: none !important;
}

body::-webkit-scrollbar:vertical {
    width: 10px !important;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none !important;
}

body::-webkit-scrollbar:horizontal {
    height: 10px !important;
}

body::-webkit-scrollbar-thumb {
    background-color: #50368c !important;
    border-radius: 10px !important;
    border: 1px solid rgba(155, 155, 155, 0.747) !important;
}

body::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: #eae6f4 !important;
}

/* Fin Barra scroll personalizada */

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Cargar";
    border-radius: 0 15px 15px 0;
}

.custom-file-label:after {
    padding: 8px;
    height: 40px;
}

body.swal2-shown>[aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

.nav-tabs .nav-item .tabs-Task.active:before {
    background-color: transparent;
}

.morris-hover {
    opacity: 0.87;
}

/* ¡Bienvenido de vuelta! */
.msg-Login-Top {
    font-size: 14px !important;
    color: #8B8B8B !important;
    margin-bottom: 2px !important;
}

/* Login con Redes Sociales */
.lg-gg-fb {
    /* width: 292px;
    height: 54px; */
    background: #FFFFFF !important;
    border: 2px solid #DCDCDC !important;
    box-sizing: border-box !important;
    border-radius: 60px !important;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

/* Login Google */
.gg-color {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.btn-gg {
    color: #6c757d !important;
    border: 1px solid #6c757d !important;
    border-radius: 20px !important;
}

.btn-gg:hover {
    border: 1px solid #EAE6F4 !important;
    background: #EAE6F4 !important;
    color: #000 !important;
}

.btn-fb {
    color: #fff !important;
    border: 1px solid #1877F2 !important;
    border-radius: 20px !important;
    background: #1877F2 !important;
}

.btn-fb:hover {
    border: 1px solid #0065d1 !important;
    background: #0065d1 !important;
    color: #fff !important;
}

.form-content .btn {
    padding: 8px 20px !important;
    font-weight: 300 !important;
    height: 40px !important;
}

.login-ingresar {
    width: 210px;
    height: 50px;
    border-radius: 31.5px !important;
    box-shadow: none !important;
}

.top_logo {
    float: right;
    position: relative;
    width: 80px;
}

.logo-Login {
    position: absolute;
    top: 30px;
    right: 35px;
    z-index: 10;
}

.logo-size-Login {
    width: 80px;
}

.loginBanner {
    display: none;
}

.loginBanner-size {
    width: 100%;
    margin-bottom: 0em;
    z-index: 8888;
    top: 0;
    position: absolute;
}

.img-holder .bg {
    background-image: url("../img/Login_Banner_Web.jpg");
}

/* Switch del Login  - Recuerdame & Acepto las condiciones o politicas */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: " ";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #812082;
}

input:focus+.slider {
    box-shadow: 0 0 1px #812082;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ************************************ Fin del Login ************************************ */

/* CSS Personalizado para Dashboard */
.deznav .metismenu a:hover {
    color: #50368c !important;
}

.nav-text {
    font-size: 14px !important;
}

.bg-diagnostico {
    background-color: #FED061 !important;
}

a.bg-diagnostico:hover,
a.bg-diagnostico:focus,
button.bg-diagnostico:hover,
button.bg-diagnostico:focus {
    background-color: #FED061 !important;
}

.bg-empresarial {
    background-color: #6C2986 !important;
}

a.bg-empresarial:hover,
a.bg-empresarial:focus,
button.bg-empresarial:hover,
button.bg-empresarial:focus {
    background-color: #6C2986 !important;
}

.bg-estrategico {
    background-color: #50368C !important;
}

a.bg-estrategico:hover,
a.bg-estrategico:focus,
button.bg-estrategico:hover,
button.bg-estrategico:focus {
    background-color: #50368C !important;
}

/* Indicadores */
#indicadores {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-indicador1 {
    background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);
    border-radius: 22px;
    color: #fff;
    width: 125px;
    height: 50px;
    text-align: center;
    padding: 17px;
    font-size: 13px;
    margin-right: 0.5em;
    font-weight: 300;
}

#btn-indicador1:active {
    background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);
}

#btn-indicador2 {
    background: #f2f2f2;
    border-radius: 22px;
    color: #50368C;
    width: 140px;
    height: 50px;
    text-align: center;
    padding: 17px;
    font-size: 13px;
    font-weight: 300;
}

.info-analisis {
    font-size: 13px;
}

@media (max-width: 440px) {
    #titu-indicador {
        margin-top: -3em;
    }

    #indicadores {
        margin-top: 4em;
        margin-left: -10em;
    }

    #btn-indicador1 {
        width: 100px;
        height: 35px;
        padding: 11px;
        font-size: 11px;
        margin-right: 0.5em;
    }

    #btn-indicador2 {
        width: 108px;
        height: 35px;
        padding: 11px;
        font-size: 11px;
    }

    #tabla-indicadores {
        margin-top: 4em;
    }

    .logo-size-Login {
        width: 65px;
    }

    .loginBanner {
        display: block;
    }

    .form-abajo {
        margin-top: 24em !important;
    }

    .logo-Login {
        top: 24em !important;
        right: 0;
    }
}

@media (min-width: 441px) and (max-width: 539px) {
    #titu-indicador {
        margin-top: -3em;
    }

    #indicadores {
        margin-top: 4em;
        margin-left: -12em;
    }

    #btn-indicador1 {
        width: 100px;
        height: 35px;
        padding: 11px;
        font-size: 11px;
        margin-right: 0.5em;
    }

    #btn-indicador2 {
        width: 108px;
        height: 35px;
        padding: 11px;
        font-size: 11px;
    }

    #tabla-indicadores {
        margin-top: 4em;
    }

    .loginBanner {
        display: block;
    }

    .logo-Login {
        top: 21.5em !important;
        right: 0;
    }

    .form-abajo {
        margin-top: 22em !important;
    }

}

@media (min-width: 540px) and (max-width: 670px) {
    #titu-indicador {
        margin-top: -3em;
    }

    #indicadores {
        margin-top: 2em;
        margin-left: -19em;
    }

    #btn-indicador1 {
        width: 105px;
        height: 40px;
        padding: 13px;
        font-size: 11px;
    }

    #btn-indicador2 {
        width: 110px;
        height: 40px;
        padding: 12px;
        font-size: 11px;
    }

    #tabla-indicadores {
        margin-top: 2em;
    }

    .loginBanner {
        display: block;
    }

    .logo-Login {
        top: 21.5em !important;
        right: 0;
    }

    .form-abajo {
        margin-top: 22em !important;
    }

}

@media (max-width: 830px) {
    .loginBanner {
        display: block;
    }

    .form-abajo {
        margin-top: 40em;
    }

    .top_logo {
        float: none;
        margin: 0 auto;
    }

    .logo-size-Login {
        width: 85px;
    }

    .logo-Login {
        top: 39em;
        right: 0;
    }

    .tituH3 {
        font-size: 20px !important;
    }

    .swal2-container.swal2-center.swal2-backdrop-show {
        z-index: 10000;
    }
}

@media (max-width: 912px) {
    .loginBanner {
        display: block;
    }

    .form-abajo {
        margin-top: 43em;
    }

    .top_logo {
        float: none;
        margin: 0 auto;
    }

    .logo-size-Login {
        width: 90px;
    }

    .logo-Login {
        top: 41.5em;
        right: 0;
    }

    .tituH3 {
        font-size: 20px !important;
    }

    .form-body {
        overflow: scroll;
    }
}

@media (min-width: 1000px) and (max-width: 1368px) {
    .img-holder {
        width: 550px;
        background-position: right;
    }

    .form-body {
        overflow: hidden;
    }
}

@media (min-width: 1369px) and (max-width: 1920px) {
    .img-holder {
        width: 808px;
    }

    .form-holder {
        margin-left: 670px;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .img-holder {
        width: 1082px;
    }

    .form-holder {
        margin-left: 925px;
    }
}