label {
    color: black;
}
.form-control {
    height: 50px;
}
.form-control:disabled {
    background: #f9f9f9;
    color: #7E7E7E;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select .btn {
    font-size: 0.875rem;
    height: 52px;
}
/* Selectores Consultor & Estado de la cuenta */
.chosen-container-single .chosen-single div {
    top: 12px;
}
.chosen-container-single .chosen-single {
    border: 1px solid #f0f1f5 !important;
    background: transparent !important;
    font-weight: 400 !important;
    color: #7e7e7e !important;
    height: 46px;
    border-radius: 1.25rem;
    padding-top: 11px;
}
.chosen-container-single .chosen-single abbr {
    top: 17px;

}
.chosen-container-single .chosen-search input[type=text] {
    border: 1px solid #f0f1f5 !important;
    border-radius: 1.2rem;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border: 1px solid #f0f1f5 !important;
    border-radius: 0 0 1.25rem 1.25rem;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none !important;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #F4F5F9;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f5f9), color-stop(90%, #f4f5f9));
    background-image: #F4F5F9 !important;
    color: #000;
}
.iconRed {
    max-width: 70px !important;
}
.nav-tabs .nav-item .nav-link:before {
    background-color: transparent;
}
.profile-tab .nav-item .nav-link {
    margin-right: 25px;
}
.nav-tabs .nav-item .nav-link.active:before {
    background-color: #50368c;
}
.tab-content {
    margin-top: 1em;
}

a.nav-link.btnIndicadoresAll {
    background: #f2f2f2;
    border-radius: 22px;
    color: #fff;
    text-align: center;
}

a.nav-link.btnIndicadoresAll.active {
    background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%) !important;
    color: white !important;
    border-radius: 22px;
}

.nav-link.btnIndicadoresAll:focus,
.nav-link.btnIndicadoresAll:hover {
    background-color: #f2f2f2 !important;
    border-color: #50368c;
    border-radius: 22px !important;
    color: #50368c;
    border-width: 0 0px 3px 0;
}

.toast-success {
    background-color: #50368D;
}

.default-tab .nav-link:focus,
.default-tab .nav-link:hover,
.default-tab .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff #ebeef6;
    border-radius: 1.25rem 1.25rem 0 0;
    color: #0B2A97;
}

/* Barra Scroll Personalizada para el Modal */
.modal.open .modal::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: #eae6f4 !important;
}

.modal-open .modal::-webkit-scrollbar-thumb {
    background-color: #50368c !important;
    border-radius: 10px !important;
    border: 1px solid rgba(155, 155, 155, 0.747) !important;
}

.modal-open .modal::-webkit-scrollbar-button:increment,
.modal-open .modal::-webkit-scrollbar-button {
    display: none;
}

.modal-open .modal::-webkit-scrollbar:vertical {
    width: 10px !important;
}

.modal-open .modal::-webkit-scrollbar {
    -webkit-appearance: none !important;
    appearance: none !important;
}

.duet-date__input {
    height: 44px;
    border: 1px solid #ddd;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    cursor: no-drop;
}

.nav-tabs .nav-item .tabs-Task.active:before {
    background-color: transparent;
}
.morris-hover {
    opacity: 0.87;
}

/* ESTILOS NORMALES (para escritorios muy grandes) ========================================================================= */
#altura_tabs{
    max-height: 120vh;
}

.ct-chart .ct-series.ct-series-a .ct-bar{
    stroke: #fed061 ;
}
.ct-chart .ct-series.ct-series-b .ct-bar{
    stroke: #50368c ;
    
}
.ct-chart .ct-series.ct-series-c .ct-bar{
    stroke: #812082 ;
    
}

/* RESPONSIVE 
========================================================================= */
@media (min-width: 800px) and (max-width: 967px) {
    .modal.show .modal-dialog {
        max-width: 700px;
    }
}

@media (min-width: 1000px) and (max-width: 1950px) {
    .modal.show .modal-dialog {
        max-width: 930px;
    }
}

/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1600px) {
    #altura_tabs {
        max-height: 67em;
    }
    /* ESTILOS PARA GRÁFICA DE BARRAS - RENDIMIENTO DE LA EMPRESA */
    .ct-bar {
        stroke-width: 7px !important;
    }

    .ct-label {
        font-size: 9px !important;
    }

    span.small-text {
        font-size: 11px;
    }

}

/* Móviles en horizontal o tablets en vertical
------------------------------------------------------------------------- */
@media (max-width: 767px) {

}

/* Móviles en vertical
------------------------------------------------------------------------- */
@media (max-width: 480px) {

}