/* Barra scroll personalizada */
.barra-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}
.barra-scroll::-webkit-scrollbar:vertical {
    width: 10px;
}
.barra-scroll::-webkit-scrollbar-button:increment,
.barra-scroll::-webkit-scrollbar-button {
    display: none;
}
.barra-scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}
.barra-scroll::-webkit-scrollbar-thumb {
    background-color: #50368c;
    border-radius: 10px;
    border: 1px solid rgba(155, 155, 155, 0.747);
}
.barra-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eae6f4;
}
/* Fin Barra scroll personalizada */

/* Clases generales */
.overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden;
}
.overflow-x-auto {
    overflow-x: auto;
    overflow-y: hidden;
}

/* ****************************************************** 
             ====>>  COLORES DE FONDOS  <<===
- botones comunes y de iconos
*/
.color_primary {
    background: #812082 !important;
}
.color_secondary {
    background: #50368c !important;
}
.color_tertiary {
    background: #FED061 !important;
}
.color_gradient {
    background: linear-gradient(180deg, #FED061 -149.33%, #812082 -19.27%, #50368C 158.67%) !important;
}
.card_gradient {
    background: linear-gradient(20deg, rgba(80,54,140,1) 0%, rgba(129,32,130,1) 50%, rgba(254,208,97,1) 100%)!important;
}

/* ****************************************************** 
             ====>>  COLORES DE TEXTOS <<===
- titulos, subtitulos, parrafos, color de iconos
*/             
.text-white {
    color: #fff !important;
  }
  
  .text-primary {
    color: #812082 !important;
  }
  
  a.text-primary:hover,
  a.text-primary:focus {
    color: #813c82 !important;
  }
  
  .text-secondary {
    color: #50368c !important;
  }
  
  a.text-secondary:hover,
  a.text-secondary:focus {
    color: #50368c !important;
  }