/* Barra scroll personalizada */
.barra-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}

.barra-scroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.barra-scroll::-webkit-scrollbar-button:increment,
.barra-scroll::-webkit-scrollbar-button {
  display: none;
}

.barra-scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.barra-scroll::-webkit-scrollbar-thumb {
  background-color: #50368c;
  border-radius: 10px;
  border: 1px solid rgba(155, 155, 155, 0.747);
}

.barra-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eae6f4;
}

/* Fin Barra scroll personalizada */

/* Clases generales */
.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
  overflow-y: hidden;
}

/* ****************************************************** 
             ====>>  COLORES DE FONDOS  <<===
- botones comunes y de iconos
*/
.color_primary {
  background: #812082 !important;
}

.color_secondary {
  background: #50368c !important;
}

.color_tertiary {
  background: #fed061 !important;
}

.color_gradient {
  background: linear-gradient(
    180deg,
    #fed061 -149.33%,
    #812082 -19.27%,
    #50368c 158.67%
  ) !important;
}

.bg_gradient {
    background: linear-gradient(268.19deg, #812082 22.58%, #50368C 75.27%);
}

.bg_gradient_2 {
    border-radius: 27px;
    background: linear-gradient(180deg, #812082 0%, #50368C 100%);
}

.card_gradient {
  background: linear-gradient(
    20deg,
    rgba(80, 54, 140, 1) 0%,
    rgba(129, 32, 130, 1) 50%,
    rgba(254, 208, 97, 1) 100%
  ) !important;
}

/* ****************************************************** 
             ====>>  COLORES DE TEXTOS <<===
- titulos, subtitulos, parrafos, color de iconos
*/
.text-white {
  color: #fff !important;
}

.text-primary {
  color: #812082 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #813c82 !important;
}

.text-secondary {
  color: #50368c !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: #50368c !important;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/*  => ESTILOS DE LA VISTA RECURSOS*/
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.drag-area {
  background: #fffaff;
  border: 1px dashed #812082;
  border-radius: 25px;
  height: 290px;
  width: 725px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.drag-area.active {
  background-color: #b8d4fe;
  color: #812082;
  border: 2px dashed #618ac9;
}

.drag-area h2 {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
}

.drag-area span {
  font-size: 25px;
  color: #000000;
}

.drag-area button {
  background: #ffffff;
  border: 1px solid #812082;
  border-radius: 5px;
  font-size: 15px;
  width: 155px;
  height: 28px;
  outline: none;
  color: #eae6f4;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
  font-size: 15px;
  color: #812082;
}

.file-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px #ddd;
}

#preview {
  margin-top: 10px;
  width: 700px;
}

.status-text {
  padding: 0 10px;
}

.success {
  color: #52ad5a;
}

.failure {
  color: #ff0000;
}

.iconoDatos {
  font-size: 19px;
  background: #0e2222;
  vertical-align: center;
}

.card-recursos {
  height: 228px !important;
  background: linear-gradient(
    255.07deg,
    #fed061 10.6%,
    #812082 78.38%,
    #50368c 137.18%
  );
  background-color: #d6e7ff;
  box-shadow: 2px 2px 6px 0px #d5d5d5;
  border-radius: 23px;
}

.timeline-panel {
  margin-right: -8px;
}

.folder {
  width: 271px;
  height: 254px;
  position: absolute;
  top: 8px;
  margin-left: -304px;
  z-index: 1;
}

.nube {
  width: 306px;
  height: 306px;
}

.titulo {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-top: -11px;
}

.texto {
  width: 541px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: -24px;
}

.msg_recurso{
  position: absolute; 
  margin-top: -57px;
  margin-left: 16px;
  color:#000000;
  font-weight: 600
}

.card_banner_recursos{
  height: auto !important; 
  background: linear-gradient(255.07deg,#fed061 10.6%, #812082 78.38%,#50368c 137.18%);
}

.btnArchivo {
  width: 172px !important;
  height: 45px !important;
  background-color: #fed061 !important;
  box-shadow: 6px 27px 11px rgba(0, 0, 0, 0.03),
    3px 15px 9px rgba(0, 0, 0, 0.09), 1px 7px 7px rgba(0, 0, 0, 0.15),
    0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 0px rgba(0, 0, 0, 0.18) !important;
  border-radius: 22.5px !important;
  border: none !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.btnGrupo {
  width: 172px !important;
  height: 45px !important;
  background: #000000;
  box-shadow: 6px 27px 11px rgba(0, 0, 0, 0.03),
    3px 15px 9px rgba(0, 0, 0, 0.09), 1px 7px 7px rgba(0, 0, 0, 0.15),
    0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 0px rgba(0, 0, 0, 0.18) !important;
  border-radius: 22.5px !important;
  border: none !important;
  font-style: normal !important;
  font-weight: 600 !important;
  color: white !important;
}

  .media_img{
    margin-top: -26px;
  }

  #img_nube{
    margin-bottom: -68px
  }

  .msg_pantalla {
    display: none;
  }
  .modal_pantalla{
        display: block;
  }

  .custom-modal-class{
    width: 70%;
  }
  
  .label1{
    font-weight: 500;
    font-size: 15px;
  }
  
  .centrado_row{
    justify-content: center;
  }

  .card_grupo{
    border-radius: 11px !important;
    width: 270px; 
    height: 270px !important;
  }

 

@media (min-width: 360px) and (max-width:480px){
  .btnArchivo {
      width: 132px !important;
      margin-left: 10px;
      padding-left: 14px;
  }
  .col_btnGrupo {
    margin-left: 76px;
  }
  .btnGrupo {
    width: 132px !important;
  }
  .media_img{
    text-align: center;
  }
  #img_nube{
    width: 62%;
    height: 256px;
  }
  .titulo {
    font-weight: 700;
    font-size: 18px;
    margin-top: 7px;
  }
  .texto {
    width: 303px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0px !important;
  }
  .msg_pantalla{
    margin: 30px;
    display: block;
    font-size: 15px;
    text-align: center;
  }
  .modal_pantalla{
    display: none;
  }
  .input-recursos {
    width: 170px !important;
  }
  .input-recursos::placeholder {
    font-size: 10px !important;
  }
  .row_inputs{
    margin-left: -66% !important;
    margin-right: -65% !important;
  }
  .texto_recursos{
    font-size: 17px;
  }
  .colorButton {
    width: 29px !important;
    height: 28px !important;
  }
  .styleMovil{
    margin:7px -17px !important;
  }
  .card_grupo{
    width: auto !important;
  }
  .graficos_movil{
    display: none;
  }
  .chatbox.active {
    width: 370px !important;
    box-shadow: 0px 0px 30px 0px rgb(82 63 105) !important;
    background: linear-gradient(20deg, rgb(80 54 140) 0%, rgb(129 32 130) 50%, rgba(254, 208, 97, 0.85) 100%) !important;
  }
  .pastilla_estado{
    width: 114px !important;
    margin-left: -18px !important;
  }
  .icon_btn_movil{
    margin-top: -58px;
  }
}

.input-recursos {
  width: 278px;
  height: 31px !important;
  background: #ffffff !important;
  border: 0.7px solid #898989 !important;
  border-radius: 5px !important;
  padding-top: 2px !important;
}

.input-recursos2 {
  height: 31px !important;
  background: #ffffff !important;
  border: 0.7px solid #898989 !important;
  border-radius: 5px !important;
  padding-top: 2px !important;
}

.input-recursos::placeholder {
  font-size: 11px !important;
}

.texto_recursos{
  font-weight: 500;font-size: 20px;color: #000000;text-align: center;
}

.btnTypeArchivo {
    margin-top: 28px;
    background: #812082 !important;
    border-radius: 5px !important;
    width: 196px !important;
    height: 35px !important;
    border: none !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    padding: 0px 0px 5px !important;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/*  => fin ESTILOS DE LA VISTA RECURSOS*/
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.chosen-container-single .chosen-single {
    height: 31px !important;
    width: 106% !important;
    background: #ffff0000 !important;
    font-size: 10px !important;
}

.colorButtons {
    display: flex;
    justify-content: center;
}

.colorButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.colorButton.selected {
    border: 3px solid black;
}

#colorPreview {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.colorButton[data-color="#D74040"] {
    background-color: #D74040;
}

.colorButton[data-color="#739232"] {
    background-color: #739232;
}

.colorButton[data-color="#58B57D"] {
    background-color: #58B57D;
}

.colorButton[data-color="#407CD7"] {
    background-color: #407CD7;
}

.colorButton[data-color="#4085D7"] {
    background-color: #4085D7;
}

.colorButton[data-color="#9540D7"] {
    background-color: #9540D7;
}

.colorButton[data-color="#812082"] {
    background-color: #812082;
}

.colorButton[data-color="#FED061"] {
    background-color: #FED061;
}

.two-line-text {
    line-height: 1.2;
    max-height: 2.4em;
    display: -webkit-box !important;
    white-space: pre-line !important;
    text-align: left ;
    max-width: 300px;
}
.item-lecciones {
    line-height: 1.5em !important;
    margin-bottom: 2em !important;
}
.file-leccion {
  width: 385px !important; height:142px;border: 1px dashed #DBDBDB;background-repeat: round;
}