.chatbox.active {
    width: 520px;
    backdrop-filter: blur(17px);
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 45%);
    background: linear-gradient(20deg, rgba(80, 54, 140, 0.85) 0%, rgba(129, 32, 130, 0.85) 50%, rgba(254, 208, 97, 0.85) 100%);
}

.chatbox .chatbox-close {
    right: 520px;
}

.custom-sidebar {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 6em;
}

#actividad-sidebar1, #actividad-sidebar2, #actividad-sidebar-c {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    letter-spacing: -0.7px;
}

.txtSidebar {
    color: #fff;
}

textarea#actividad-sidebar1, #actividad-sidebar2, #actividad-sidebar-c {
    height: 4em;
}

textarea#actividad-sidebar1, #actividad-sidebar2, #actividad-sidebar-c,
textarea#descripcion-sidebar1, #descripcion-sidebar2, #descripcion-sidebar-c {
    width: 100%;
    padding: 1em 2px;
    border: 0px solid transparent;
    background: transparent;
    color: #fff;
    border-radius: 0;
    overflow-y: hidden;
}

textarea#actividad-sidebar1::placeholder, textarea#actividad-sidebar2::placeholder, textarea#actividad-sidebar-c::placeholder,
textarea#descripcion-sidebar1::placeholder, textarea#descripcion-sidebar2::placeholder, textarea#descripcion-sidebar-c::placeholder,
input#responsable-sidebar1::placeholder, input#responsable-sidebar2::placeholder, input#responsable-sidebar-c::placeholder {
    color: #E1D9E1;
}

.subtitulos-Sidebar {
    text-transform: capitalize;
    font-weight: 900;
    font-size: 18px;
    border-radius: 1em;
    color: #fff;
    border: 0;
    background: transparent;
    padding-left: 10px;
    width: 17em;
}

.widget-timeline.style-1 .timeline .timeline-badge.primary+.timeline-panel {
    border-color: #FED061;
}

.widget-timeline.style-1 .timeline .timeline-badge.primary+.timeline-panel:after {
    background: #FED061;
}

.widget-timeline .timeline-badge.primary:after {
    background-color: #FED061 !important;
    box-shadow: 0 5px 10px 0 rgb(254 208 97 / 20%);
}

.widget-timeline .timeline-badge.primary {
    border-color: #FED061;
}

.widget-timeline .timeline>li>.timeline-badge {
    background: transparent;
}

.widget-timeline .timeline:before {
    background: rgb(254 208 97 / 20%);
}

.fechaMensajes {
    color: #E1D9E1;
}

.txtYellow {
    color: #FED061;
}

.contentAll {
    height: calc(100vh - 30px);
}