<!-- ****************** Required JS - DASHBOARD ****************** -->
<script src="../vendor/js/Chart.bundle.min.js"></script>
<script src="../vendor/js/owl.carousel.js"></script>
<!-- Chart piety plugin files -->
<script src="../vendor/js/jquery.peity.min.js"></script>

{{> modals/modalAcuerdoConfidencial}}

{{#if jsonDim_empresa}}
{{> user/pieCharts}}
{{/if}}

<script>
	function acuerdoChecked() {
		// Acción al aceptar el acuerdo de confidencialidad
		const acuerdoCheck = document.getElementById('acuerdo-check').checked
		console.log("Acuerdo Check: " + acuerdoCheck)
		if (acuerdoCheck) {
			console.log("Acuerdo aceptado, serás redireccionado..")
			fetch('/acuerdo-de-confidencialidad', {
				method: 'POST',
				body: JSON.stringify({estado:2}),
				headers: {'Content-Type': 'application/json'}
			}).then(res => res.json())
				.catch(error => console.error('Error:', error))
				.then(response => {
					console.log("RESPUESTA DE ACUERDO CHECK CONTROLLER >> ", response)
					if (response.ok){
						window.location.href = response.txt
					} else {
						Swal.fire(
							'Error!',
							'Ocurrió algo inesperado al aceptar el acuerdo de confidencialidad',
							'error'
						)
					}
				});
		}
	}

	function msgSinConsultor() {
		Swal.fire(
			'Atención',
			'Tu consultor no ha sido asignado. Recibiras una notificación a tu correo y podras ingresar',
			'info'
		)
	}

	{{#if archivos}}
	function cargarArchivos_Empresa(tabla, idArchivo) {
		const idEmpresa = document.getElementById("idEmpresa").value;
		const inputArchivo = document.getElementById("inputArchivo"+idArchivo);
		if (inputArchivo) {
			const estado = document.getElementById("spanEstado"+idArchivo);
			const btnArchivo = document.getElementById("btnVer"+idArchivo);
			inputArchivo.addEventListener('change', (e) => {
				const file = e.target.files[0]
				console.log(file)
				let ruta = '/guardar-archivos-analisis', etapa = 2
				if (tabla == 'archivos_empresarial') { etapa= 3; ruta = '/guardar-archivos-empresariales' }
				else if (tabla == 'archivos_estrategico') { etapa = 4; ruta = '/guardar-archivos-estrategico' }

				const formData = new FormData();
				formData.append('id', idArchivo);
				formData.append('empresa', idEmpresa);
				formData.append('file', file);
				formData.append('etapa', etapa);
				formData.append('tabla', tabla);

				fetch(ruta, {
					method: 'POST',
					body: formData,
				})
					.then(res => res.json())
					.catch(error => console.error('Error:', error))
					.then(response => {
						if (response.ok) {
							toastr.success("El archivo ha sido cargado exitosamente", "Atención", {
								positionClass: "toast-top-center",
								timeOut: 5e3,
								closeButton: !0,
								debug: !1,
								newestOnTop: !0,
								progressBar: !0,
								preventDuplicates: !0,
								onclick: null,
								showDuration: "300",
								hideDuration: "1000",
								extendedTimeOut: "1000",
								showEasing: "swing",
								hideEasing: "linear",
								showMethod: "fadeIn",
								hideMethod: "fadeOut",
								tapToDismiss: !1
							})

							btnArchivo.style.display = 'block'
							btnArchivo.href = response.url
							estado.classList.remove("badge-warning")
							estado.classList.add("badge-success")
							estado.innerHTML = "Cargado"
							
						} else {
							toastr.warning("No sé pudo subir el archivo, contacte a soporte", "Error", {
								positionClass: "toast-top-center",
								timeOut: 5e3,
								closeButton: !0,
								debug: !1,
								newestOnTop: !0,
								progressBar: !0,
								preventDuplicates: !0,
								onclick: null,
								showDuration: "300",
								hideDuration: "1000",
								extendedTimeOut: "1000",
								showEasing: "swing",
								hideEasing: "linear",
								showMethod: "fadeIn",
								hideMethod: "fadeOut",
								tapToDismiss: !1
							})
						}
					});
			});
		}
	}
	{{/if}}

    (function ($) {

        const dzGraficasEmpresa = function () {
			const coloresDim = ['#812082', '#f2f2f2'];
            /** GRÁFICA PARA INDICADORES */
			const chartIndicadores1 = function () {
				let valAnalisis1 = document.getElementById('jsonAnalisis1').value;
				let valAnalisis2 = document.getElementById('jsonAnalisis2').value;
				let nuevosProyectos = document.getElementById('nuevosProyectos').value;
				let chartAnalisis1 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
				let chartAnalisis2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

				console.log("VAL ANALISIS 1 => ", valAnalisis1)
				if (valAnalisis1) {
					if (valAnalisis1) { valAnalisis1 = JSON.parse(valAnalisis1) }
					chartAnalisis1 = [valAnalisis1.producto, valAnalisis1.administracion, valAnalisis1.talento_humano, valAnalisis1.finanzas, valAnalisis1.servicio_cliente, valAnalisis1.operaciones, valAnalisis1.ambiente_laboral, valAnalisis1.innovacion, valAnalisis1.marketing, valAnalisis1.ventas]
				}
				if (valAnalisis2) {
					if (valAnalisis2) { valAnalisis2 = JSON.parse(valAnalisis2) }
					chartAnalisis2 = [valAnalisis2.producto, valAnalisis2.administracion, valAnalisis2.talento_humano, valAnalisis2.finanzas, valAnalisis2.servicio_cliente, valAnalisis2.operaciones, valAnalisis2.ambiente_laboral, valAnalisis2.innovacion, valAnalisis2.marketing, valAnalisis2.ventas]
					console.log("VAL ANALISIS 2 => ", valAnalisis2)
				}

				let valorMax = 10;
				if (nuevosProyectos) {
					if (nuevosProyectos == 1) {
						valorMax = 5;
					}
				}

				if ($('#chartEmpresa1').length > 0) {
					const chartEmpresaAdm1 = document.getElementById("chartEmpresa1").getContext('2d')

					chartEmpresaAdm1.height = 100;
					new Chart(chartEmpresaAdm1, {
						type: 'bar',
						data: {
							defaultFontFamily: 'Oblivian',
							labels: ["Producto", "Admin", "Talento Humano", "Finanzas", "S. Al cliente", "Operaciones", "A. Laboral", "Innovación", "Marketing", "Ventas"],
							datasets: [{
								label: "Primer análisis",
								backgroundColor: "#50368C",
								borderColor: "#50368C",
								data: chartAnalisis1,
								fill: false,
							}, 
							// {
							// 	label: "Último análisis",
							// 	fill: false,
							// 	backgroundColor: "#FED061",
							// 	borderColor: "#FED061",
							// 	data: chartAnalisis2,
							// }
						]
						},
						options: {
							legend: false,
							scales: {
								yAxes: [{
									gridLines: {
										display: true
									},
									ticks: {
										beginAtZero: true,
										min: 0, // minimum value
										max: valorMax // maximum value
									}
								}],
								xAxes: [{
									gridLines: {
										display: false
									},
									ticks: {
										fontSize: 10
									},
									//barPercentage: 0.5,
									//categoryPercentage: 1,
									//barThickness: 14,
									//maxBarThickness: 10,
									barPercentage: 4,
                                    categoryPercentage: 4,
                                    barThickness: 28,
                                    maxBarThickness: 25,
								}]
							}
						}
					});
				}
			}

			const chartIndicadores2 = function () {
				let valDimensiones1 = document.getElementById('jsonDimensiones1').value;
				let valDimensiones2 = document.getElementById('jsonDimensiones2').value;
				let nuevosProyectos = document.getElementById('nuevosProyectos').value;
				let chartDimensiones1 = [0, 0, 0, 0]
				let chartDimensiones2 = [0, 0, 0, 0]
				let titulos = ["Producto", "Administración", "Operaciones", "Marketing"];

				if (valDimensiones1) {
					valDimensiones1 = JSON.parse(valDimensiones1)
					console.log("DIMENSIONES 1 => ", valDimensiones1)
				}
				
				if (nuevosProyectos) {
					if (nuevosProyectos == 1){
						titulos = ["Experiencia en el Rubro", "Mentalidad Empresarial", "Viabilidad del Negocio", "Estructura del Negocio"]
						chartDimensiones1 = [valDimensiones1.experiencia_rubro, valDimensiones1.mentalidad, valDimensiones1.viabilidad_, valDimensiones1.estructura]
					} else {
						chartDimensiones1 = [valDimensiones1.producto, valDimensiones1.administracion, valDimensiones1.operaciones, valDimensiones1.marketing]
					}
				}

				if (valDimensiones2) {
					valDimensiones2 = JSON.parse(valDimensiones2)
					chartDimensiones2 = [valDimensiones2.producto, valDimensiones2.administracion, valDimensiones2.operaciones, valDimensiones2.marketing]
				}

				if ($('#chartEmpresa2').length > 0) {
					const chartEmpresaAdm2 = document.getElementById("chartEmpresa2").getContext('2d')

					chartEmpresaAdm2.height = 100;
					new Chart(chartEmpresaAdm2, {
						type: 'bar',
						data: {
							defaultFontFamily: 'Oblivian',
							labels: titulos,
							datasets: [{
								label: "Puntaje",
								backgroundColor: "#50368C",
								borderColor: "#50368C",
								data: chartDimensiones1,
								fill: false,
							}, 
							// {
							// 	label: "Último análisis",
							// 	fill: false,
							// 	backgroundColor: "#FED061",
							// 	borderColor: "#FED061",
							// 	data: chartDimensiones2,
							// }
						]
						},
						options: {
							legend: false,
							scales: {
								yAxes: [{
									gridLines: {
										display: true
									},
									ticks: {
										beginAtZero: true,
										min: 0, // minimum value
										//max: 10 // maximum value
									}
								}],
								xAxes: [{
									gridLines: {
										display: false
									},
									ticks: {
										fontSize: 10
									},
									//barPercentage: 0.5,
									//categoryPercentage: 1,
									//barThickness: 14,
									//maxBarThickness: 10,
									barPercentage: 4,
                                    categoryPercentage: 4,
                                    barThickness: 28,
                                    maxBarThickness: 25,
								}]
							}
						}
					});
				}
			}

			return {
                init: function () {
                },

                load: function () {
					if (document.getElementById('jsonAnalisis1')) {
						chartIndicadores1();
						chartIndicadores2();
					}
                },

                resize: function () {
					if (document.getElementById('jsonAnalisis1')) {
                    	chartIndicadores1();
				    	chartIndicadores2();
					}
                }
            }

        }();

        jQuery(document).ready(function () {

			// PROPIEDAD PARA MODIFICAR SCROLL AL ABRIR O CERRAR EL SIDEBAR DE TAREAS
			$(".chatbox-close").on("click", () => {
                $('#cuerpoGeneral').css('overflow-y', 'auto')
			})
			{{#if pagoEtapa1_ok}}
				Swal.fire({
					icon: 'success',
					title: '¡Pago exitoso!',
					html: '<p>Tu pago ha sido recibido, ahora puedes continuar con el formulario Ficha de cliente.</p>'
						+ '<a href="/" type="button" class="mr-2 mb-2" style="background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%); border-color: transparent !important;'
						+ 'border-radius: 22px;'
						+ 'color: #fff;'
						+ 'width: 160px;'
						+ 'height: 50px;'
						+ 'text-align: center;'
						+ 'padding: 14px;'
						+ 'font-size: 17px;'
						+ 'font-weight: 300; border: none !important;">Ok</a>',
					showCancelButton: false,
					showConfirmButton: false,
					allowOutsideClick: false,
				})
            {{/if}}
            {{#if alertCancel}}
                Swal.fire({
					icon: 'error',
					title: 'Pago Cancelado',
					html: '<p>Cancelaste el proceso de pago, tómate tu tiempo e intenta nuevamente.</p>'
						+ '<a href="/" type="button" class="mr-2 mb-2" style="background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%); border-color: transparent !important;'
						+ 'border-radius: 22px;'
						+ 'color: #fff;'
						+ 'width: 160px;'
						+ 'height: 50px;'
						+ 'text-align: center;'
						+ 'padding: 14px;'
						+ 'font-size: 17px;'
						+ 'font-weight: 300; border: none !important;">Ok</a>',
					showCancelButton: false,
					showConfirmButton: false,
					allowOutsideClick: false,
				})
            {{/if}}
        });

        jQuery(window).on('load', function () {
            dzGraficasEmpresa.load();
			/*********************************************************************************** */
			/** PAGOS OTRAS ETAPAS (2, 3, 4) */
			{{#if pagoOtras_etapas}}
				Swal.fire({
					icon: 'success',
					title: '¡Pago exitoso!',
					html: '<p>Tu pago ha sido recibido, ahora puedes continuar con tu proceso.</p>'
						+ '<a href="/" type="button" class="mb-2" style="background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);'
						+ 'border-radius: 22px;'
						+ 'color: #fff;'
						+ 'width: 160px;'
						+ 'height: 50px;'
						+ 'text-align: center;'
						+ 'padding: 14px;'
						+ 'font-size: 17px;'
						+ 'font-weight: 300;">Ok</a>',
					showCancelButton: false,
					showConfirmButton: false,
					allowOutsideClick: false,
				})
			{{/if}}
			/*********************************************************************************** */
        });

        jQuery(window).on('resize', function () {
            setTimeout(function () { dzGraficasEmpresa.resize(); }, 1000);
        });

    })(jQuery);

</script>

{{!-- Scripts Stripe --}}
{{#if stripe}}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{{/if}}