<div class="card">
    <div class="card-header">
        <h4 class="card-title" style="margin:0 auto">Desarrollo de actividades</h4>
    </div>
    <input type="hidden" id="jsonDim_empresa" value="{{jsonDim_empresa}}">
    <div class="row">
        <div class="col-3" id="col-Producto">
            <h4 class="card-title my-4 mx-auto text-center" style="font-size: 17px;">Producto</h4>
            <canvas id="pieChart1"></canvas>
            <p id="perDim1" class="mx-auto text-center" style="font-size: 12px;"></p>
        </div>
        <div class="col-3" id="col-Administracion">
            <h4 class="card-title my-4 mx-auto text-center" style="font-size: 17px;">Administración</h4>
            <canvas id="pieChart2"></canvas>
            <p id="perDim2" class="mx-auto text-center" style="font-size: 12px;"></p>
        </div>
        <div class="col-3" id="col-Operaciones">
            <h4 class="card-title my-4 mx-auto text-center" style="font-size: 17px;">Operaciones</h4>
            <canvas id="pieChart3"></canvas>
            <p id="perDim3" class="mx-auto text-center" style="font-size: 12px;"></p>
        </div>
        <div class="col-3" id="col-Marketing">
            <h4 class="card-title my-4 mx-auto text-center" style="font-size: 17px;">Marketing</h4>
            <canvas id="pieChart4"></canvas>
            <p id="perDim4" class="mx-auto text-center" style="font-size: 12px;"></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="progress" style="width: 73%;margin:auto">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="barra" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="mt-2 col-12">
            <p class="mx-auto text-center"> Avance general de tareas: <span id="dataGeneral" style="font-weight: 800;"></span>%</p>
        </div>
    </div>
</div>