<link rel="stylesheet" href="../css/recursos.css">

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-recursos">
                    <div class="card-body">
                        {{!-- CABECERA --}}
                        <div class="row">
                            <div class="col-4">
                                <div class="media-body" style="margin-top: -67px;">
                                    <img src="../img/Recursos_nube.png" alt="Recursos Upload Enterprise">
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="titulo">Bienvenido(a) al area de recursos</h6>
                                <p class="texto">Desde aquí tendrás acceso a los recursos que hemos preparado para facilitar tu proceso de
                                    crecimiento empresarial, duplicarlos para editarlos y cargar tus propios archivos para tener tu información
                                    organizada en un solo lugar</p>

                                {{!-- BOTONES PARA SUBIR GRUPOS/RECURSOS --}}
                                <!--
                                <div class="row">
                                    {{!-- BOTÓN PARA SUBIR RECURSOS --}}
                                    <div class="col-3">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle btn-md btnArchivo text-black" data-toggle="dropdown">Subir recurso</button>
                                                <div class="dropdown-menu">
                                                    <button class="dropdown-item" data-toggle="modal" data-target="#cargar_archivo" aria-disabled="true">Cargar archivo</button>
                                                    <button class="dropdown-item" data-toggle="modal" data-target="#conectar_link" aria-disabled="true">Conectar link</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {{!-- BOTÓN SUBIR GRUPOS --}}
                                    <div class="col-6" style="padding-left: 4em;">
                                        <button class="btnGrupo btn-md" data-toggle="modal" data-target="#subir_grupo" aria-disabled="true">Subir grupo</button>
                                    </div>
                                </div>
                                -->

                                {{!-- HEADER VISTA RECURSOS (MODALES PARA CARGAR LINK, ARCHIOS Y SUBIR GRUPOS DE RECURSOS) --}}
                                {{> modals/recursos_header}}
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- SECCIÓN PARA RECURSOS COMPARTIDOS --}}
                <div class="row" style="margin-top: 15%;">
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Recursos compartidos</h3>
                    <div class="col-xl-3">
                        <div class="card text-white" style="background: #EF2727;box-shadow: 0px 0px 30px rgba(239, 39, 39, 0.4);border-radius: 11px;width: 240px; height: 215px;">
                            <div class="card-body mb-0">
                                <br>
                                <div class="widget-media">
                                    <div class="timeline d-flex flex-row">
                                        <div class="timeline-panel">
                                            <img src="../logos_recursos/Pagina_Web.svg" alt="Icono">
                                        </div>
                                        <div class="timeline-panel">
                                            <img src="../logos_recursos/Archivo_imagen.svg" alt="Icono">
                                        </div>
                                    </div>
                                    <h3 class="card-footer bg-transparent border-0 text-white"
                                        style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">Documentos financieros</h3>
                                    <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">Documentos necesarios para presentar reporte de ingresos y declaracion de impuestos en el estado de la Florida</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>