<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- HEADER GENERAL --}}
    {{> general/header }}
</head>

<body id="cuerpoGeneral" class="barra-scroll overflow-y-auto">
    {{!-- INICIO DE LA ETIQUETA DIV WRAPPER --}}
    {{#if user_dash}}
        {{> user/navigation }}
    {{/if}}
    {{#if adminDash}}
        {{> admin/navigationAdmin }}
    {{/if}}
    {{#if consultorDash}}
        {{> consultor/navigationConsultor}}
    {{/if}}
    
    {{{ body }}}

    </div>
    <!-- ./FIN DEL MAIN WRAPPER -->
    
    {{!-- FOOTER PARTIALS PRINCIPAL --}}
    {{> general/footer }}
    {{!-- FOOTER USUARIO EMPRESA --}}
    {{#if user_dash}}
        {{> user/footerUser }}
    {{/if}}
    {{!-- FOOTER ADMINISTRADOR --}}
    {{#if adminDash}}
        {{> admin/footerAdmin }}
    {{/if}}
    {{!-- FOOTER CONSULTOR --}}
    {{#if consultorDash}}
        {{> consultor/footerConsultor }}
    {{/if}}

</body>

</html>