<div class="form-body">
    <div class="top_logo">
        <a href="/">
            <div class="logo-Login" >
                {{!-- <img class="logo-size-Login" src="https://3csigma.com/app_public_files/img/3C-sigma-logo-full.png" alt="Logo 3CSigma"> --}}
                <img class="logo-size-Login" src="/img/logo.svg" alt="Logo 3CSigma">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
            </div>
        </div>
        <div class="loginBanner">
            {{!-- <img class="loginBanner-size" src="https://3csigma.com/app_public_files/img/Login_Banner_movil.jpg" alt="Banner Móvil"> --}}
            <img class="loginBanner-size" src="/img/Login_Banner_movil.jpg" alt="Banner Móvil">
        </div>
        
        <div class="form-holder form-abajo">
            <div class="form-content">
                <div class="form-items">
                    {{> general/message }}
                    <p class="msg-Login-Top">¡Bienvenido de nuevo!</p>
                    <h3 class="tituH3">Inicia sesión en tu cuenta</h3>
                    <br>
                    <form action="/login" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <label style="color:#000;font-weight: bold !important; margin-top: 6px;">Correo electrónico</label>*</label>
                        <input class="form-control" type="email" id="username" name="email" placeholder="ejemplo@tusitioweb.com" required autofocus>
                        <label style="color:#000;font-weight: bold !important; margin-top: 6px;">Contraseña*</label>
                        <div class="form-group">
                            <div class="input-group transparent-append">
                                <input class="form-control" type="password" id="pass" name="clave" placeholder="Introduce tu contraseña" required>
                                    <div class="input-group-append show-pass ">
                                        <span class="input-group-text "> 
											<i class="fa fa-eye-slash"></i>
											<i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        <p id="message" style = "color:#6B2986; font-size: 12px; font-weight: bold;"> </p>
                        <div class="row">
                            <div class="col-12 col-sm-7">
                                <label class="switch" style="margin-top: 6px;">
                                    <input type="checkbox" name="recuerdame" id="remember_me" value="remember-me">
                                    <span class="slider round"></span>
                                    <label for=""></label>
                                </label>
                                <label for="customSwitch1" style="font-weight: bold !important"> Recuérdame</label>
                            </div>
                            <div class="col-12 col-sm-5" style="margin-top: 9px;">
                                <a href="/restablecer-clave" class="text-secondary">Olvidé mi contraseña</a>
                            </div>
                        </div>
                        <div class="form-button d-flex align-items-center">
                            <button id="submit" type="submit"
                                class="ibtn login-ingresar color_gradient text-center fw-bold mx-auto mb-4">Ingresar</button>
                        </div>
                    </form>
                    <div class="other-links d-flex align-items-center my-4">
                        <span class="text-center fw-bold mx-auto" style="color:#000;font-weight: bold !important;">¿No
                            estas registrado?<a href="/registro" ><span  class="text-primary"
                                    style="font-weight: bold !important;"> Crea una cuenta hoy</span>
                        </span></a>
                    </div>
                    {{!-- Copyright --}}
                    <div class="d-flex align-items-center my-4">
                        <br><br>
                        <span class="text-center fw-bold mx-auto mb-0 mt-4">{{actualYear}} Copyright &copy; 3C Sigma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../vendor/js/global.min.js"></script>
<script src="../login/clave.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
 <script>
   // {{!-- FUNCIÓN PARA RECORDAR LAS CREDENCIALES DE USUARIO --}}
            $(function() {
                if (localStorage.chkbx && localStorage.chkbx != '') {
                    $('#remember_me').attr('checked', 'checked');
                    $('#username').val(localStorage.usrname);
                    $('#pass').val(localStorage.pass);
                } else {
                    $('#remember_me').removeAttr('checked');
                    $('#username').val('');
                    $('#pass').val('');
                }
                $('#remember_me').click(function() {
                    if ($('#remember_me').is(':checked')) {
                        // save username and password
                        localStorage.usrname = $('#username').val();
                        localStorage.pass = $('#pass').val();
                        localStorage.chkbx = $('#remember_me').val();
                    } else {
                        localStorage.usrname = '';
                        localStorage.pass = '';
                        localStorage.chkbx = '';
                    }
                });
            });
    // {{!--  FIN DE LA FUNCIÓN  --}}
</script>