<style>
    @media (min-width: 1000px) and (max-width: 1368px) {
        /* Modal Login */
        .modal.show .modal-dialog {
            max-width: 900px;
        }
    }

    @media (min-width: 1369px) and (max-width: 1920px) {
        /* Modal Login */
        .modal.show .modal-dialog {
            max-width: 1200px;
        }
    }

    @media (min-width: 1921px) and (max-width: 2560px) {
        /* Modal Login */
        .modal.show .modal-dialog {
            max-width: 1500px;
        }
    }
</style>
<div class="form-body">
    <div class="top_logo">
        <a href="/">
            <div class="logo-Login">
                {{!-- <img class="logo-size-Login" src="https://3csigma.com/app_public_files/img/3C-sigma-logo-full.png" --}}
                <img class="logo-size-Login" src="/img/logo.svg"
                    alt="Logo 3CSigma">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
            </div>
        </div>
        {{!-- Banner para Móvil --}}
        <div class="loginBanner">
            {{!-- <img class="loginBanner-size" src="https://3csigma.com/app_public_files/img/Login_Banner_movil.jpg" --}}
            <img class="loginBanner-size" src="/img/Login_Banner_movil.jpg"
                alt="Banner Móvil">
        </div>
        {{!-- Fin Banner Móvil --}}
        <div class="form-holder form-abajo">
            <div class="form-content">
                <div class="form-items">
                    {{> general/message }}
                    <p class="msg-Login-Top">Preparate para ver crecer tu empresa</p>
                    <h3 class="tituH3" style="margin-bottom: 8px !important;">Crea tu cuenta hoy</h3>
                    <span class="fw-bold msg-Login-Top" style="color:#000 !important;font-weight: 500;">
                        ¿Deseas registrarte como consultor?
                        <a href="/registro-de-consultores" class="text-primary" style="font-weight: bold !important;">haz clic
                            aquí.</a>
                    </span>

                    <br><br>
                    <form action="/registro" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label style="color:#000;font-weight: bold !important;">Email*</label>
                                <input class="form-control" type="email" name="email"
                                    placeholder="ejemplo@tusitioweb.com" required autofocus>
                            </div>
                            <div class="form-group col-12 col-sm-6">
                            <label style="color:#000;font-weight: bold !important;">Password* <span id="message" style="color:#6B2986; font-size: 12px; font-weight: bold;"></span></label>
                            <div class="input-group transparent-append">
                                <input class="form-control" type="password" id="pass" name="clave" placeholder="Introduce tu contraseña" required>
                                    <div class="input-group-append show-pass ">
                                        <span class="input-group-text "> 
											<i class="fa fa-eye-slash"></i>
											<i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        </div>
                        {{!-- Campos de Nombre & Apelidos --}}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label style="color:#000;font-weight: bold !important;">Nombres*</label>
                                <input class="form-control" type="text" name="nombres"
                                    placeholder="Introduce tus nombres" required autofocus>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label style="color:#000;font-weight: bold !important;">Apellidos*</label>
                                <input class="form-control" type="text" name="apellidos"
                                    placeholder="Introduce tus apellidos" required autofocus>
                            </div>
                        </div>

                        <div class="col-12">
                            <label style="color:#000;font-weight: bold !important;">Empresa*</label>
                            <input class="form-control" type="text" name="nombre_empresa"
                                placeholder="Ingresa el nombre de tu empresa" required autofocus>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-12 text-center fw-bold mx-auto mb-4">
                                <input class="form-control" id="politicas" name="politicas" type="checkbox" required>
                                <label for="politicas"> Acepto las <a href="#" data-toggle="modal"
                                        data-target="#terms-txt" class="text-primary" style="font-weight: bold !important;">
                                        politicas de privacidad</a></label>
                            </div>
                        </div>
                        <div class="form-button d-flex align-items-center">
                            <input type="hidden" name="zh_empresa" id="zh_empresa">
                            <button id="submit" type="submit"
                                class="ibtn login-ingresar color_gradient text-center fw-bold mx-auto mb-4"
                                onclick="validarFormRegistro()">Crear cuenta</button>
                        </div>
                    </form>
                    <div class="other-links d-flex align-items-center" style="margin-top: -26px;">
                        <span class="text-center fw-bold mx-auto mb-4"
                            style="color:#000;font-weight: bold !important;">¿Ya tienes una cuenta? <a
                                href="/login"><span class="text-primary" style="font-weight: bold !important;"> inicia sesión
                                    ahora</span></span></a>
                    </div>
                    {{!-- Copyright --}}
                    <div class="d-flex align-items-center my-4">
                        <br><br>
                        <span class="text-center fw-bold mx-auto mb-0 mt-4">{{actualYear}} Copyright &copy; 3C
                            Sigma</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- MODAL POLITICAS DE PRIVACIDAD -->
{{> general/politicas }}

<script src="../vendor/js/global.min.js"></script>
<script src="../login/clave.js"></script>
<script>
    function validarFormRegistro() {
        const a = document.getElementById("politicas").checked
        if (a == false) {
            Swal.fire({
                icon: 'warning',
                title: 'Advertencia',
                text: "Por favor acepta las politicas de privacidad"
            })
            //alert("Por favor acepta las politicas de privacidad")
        } else {
            console.log("Registro exitoso")
        }
    }

    // Asignando Zona horaria
    const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;
    document.getElementById("zh_empresa").value = tzLocal
</script>