<div class="form-body">
    <div class="top_logo">
        <a href="/">
            <div class="logo-Login">
                {{!-- <img class="logo-size-Login" src="https://3csigma.com/app_public_files/img/3C-sigma-logo-full.png" --}}
                    <img class="logo-size-Login" src="/img/logo.svg"
                    alt="Logo 3CSigma">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
            </div>
        </div>
        <div class="loginBanner">
            {{!-- <img class="loginBanner-size" src="https://3csigma.com/app_public_files/img/Login_Banner_movil.jpg" --}}
                <img class="loginBanner-size" src="/img/Login_Banner_movil.jpg"
                alt="Banner Móvil">
        </div>
        <div class="form-holder form-abajo">
            <div class="form-content">
                <div class="form-items">
                    {{> general/message }}
                    <h3 class="tituH3">Ingresa la nueva contraseña</h3>
                    <p class="msg-Login-Top">¡Bienvenido de nuevo!</p>
                    {{!-- <p class="msg-Login-Top">Ingresa tu correo registrado en la platforma!</p> --}}
                    <br>
                    <form action="/update-password" method="post">
                        <div class="form-group">
                            <div class="input-group transparent-append">
                                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                <input type="hidden" name="token" value="{{token}}">
                                <input class="form-control" type="password" id="pass" name="clave" placeholder="Introduce tu contraseña" required>
                                <div class="input-group-append show-pass ">
                                    <span class="input-group-text ">
                                        <i class="fa fa-eye-slash"></i>
                                        <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p id="message" style="color:#6B2986; font-size: 12px; font-weight: bold;"> </p>
                        <div class="form-button d-flex align-items-center">
                            <button id="submit" type="submit"
                                class="ibtn login-ingresar color_gradient text-center fw-bold mx-auto mb-4">Enviar</button>
                        </div>
                    </form>
                    <div class="other-links d-flex align-items-center my-4">
                        <span class="text-center fw-bold mx-auto" style="color:#000;font-weight: bold !important;">¿No
                            estas registrado?<a href="/registro"><span class="text-primary"
                                    style="font-weight: bold !important;"> Crea una cuenta hoy</span>
                        </span></a>
                    </div>
                    {{!-- Copyright --}}
                    <div class="d-flex align-items-center my-4">
                        <br><br>
                        <span class="text-center fw-bold mx-auto mb-0 mt-4">{{actualYear}} Copyright &copy; 3C
                            Sigma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./vendor/js/global.min.js"></script>
<script>
    //{{!-- FUNCIÓN PARA VISUALIZAR LA CONTRASEÑA INGRESADA  --}}
    jQuery(document).ready(function () {
        jQuery('.show-pass').on('click', function () {
            jQuery(this).toggleClass('active');
            if (jQuery('#pass').attr('type') == 'password') {
                jQuery('#pass').attr('type', 'text');
            } else if (jQuery('#pass').attr('type') == 'text') {
                jQuery('#pass').attr('type', 'password');
            }
        });
    });
      //{{!-- FIN DE LA FUNCIÓN--}}
</script>